html, body {
 overflow-x:hidden;
}
body {
  font-family:"Lato", sans-serif;
  color:#333333
}
h1, h2, h3, h4, h5, h6 {
  font-family:"Nunito Sans", sans-serif;
}
h2{
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}
/* grid */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin: 0 2% 20px;
}

@media screen and (min-width:400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
      }
    }

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
  }
}
@media (min-width: 992px) {
  .container {
    width:970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
  }
}
/* header */
header {
  color:#333333;
  background-image:url(../images/dashboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px
}
.site-logo {
  display:inline-block;
  width: 200px;
}
.site-logo img.align-center {
  max-width: 100%;
  height: auto;

}

header nav {
  padding:1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #333333;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background: #B02644;
}
header nav ul > li > a {
  color: #333333;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#ffffff;
}
header .hero {
  text-align:center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin: 95px 0 0;
}
header .hero p{
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 40px;
}
/* buttons */
.btn {
  border-radius: 4px;
  color:#ffffff;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #B02644;
  border:2px solid #B02644;
  box-shadow: 0px 2px 0px 0px #979797;
}

/* benefits */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
  color:#B02644;
  font-size: 60px;
  margin:0;
  vertical-align: middle;
}
.benefits h2 {
  color:#B02644;
}

/* pricing */
.pricing {
  background: #E3E3E3;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2 {
  color: #0A828D;
}
.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: #0A828D;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 50px 0;
}
.box h4 {
  font-size: 50px;
  font-weight:lighter;
  margin: 40px 0 10px;
  color:#4A4A4A;
}
.box h4 span {
  font-size:32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  color: #9B9B9B;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn{
  position: absolute;
  bottom: 20px;
  left:20px;
  right:20px;
}

/* testimonials */
.testimonials {
  padding: 4em 0;
  text-align: center;
}
.testimonials h2 {
  color: #0A828D;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color: #4A4A4A;
  text-align:center;
  font-style: italic;
  background: #F2F2F2;
  border-radius: 50%;
  position: relative;
  padding: 30px;
  width:auto;
  margin: 0;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float:right;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-top: 30px;
}
.testimonials li.one-fourth2 {
  padding: 20px;
}
/* footer */

footer {
   background-color: #4A4A4A;
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .site-logo {
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }
 @media (min-width: 992px){
   footer{
     background-color: #4A4A4A;
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }

   footer .site-logo {
     padding: 2em 0 2em 1.5em;
   }
 }
